<p id="notice"><%= notice %></p>

<p>
  <strong>Categorium:</strong>
  <%= @subcategorium.categorium.categoria %>
</p>

<p>
  <strong>Subcategoria:</strong>
  <%= @subcategorium.subcategoria %>
</p>

<%= link_to 'Edit', edit_subcategorium_path(@subcategorium) %> |
<%= link_to 'Back', subcategoria_path %>
