<p id="notice"><%= notice %></p>

<h1>Listing Asignacions</h1>

<table>
  <thead>
    <tr>
      <th>Asignacion</th>
      <th>Detalle asignacion</th>
      <th>Subcategorium</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @asignacions.each do |asignacion| %>
      <tr>
        <td><%= asignacion.asignacion %></td>
        <td><%= asignacion.detalle_asignacion %></td>
        <td><%= asignacion.subcategorium %></td>
        <td><%= link_to 'Show', asignacion %></td>
        <td><%= link_to 'Edit', edit_asignacion_path(asignacion) %></td>
        <td><%= link_to 'Destroy', asignacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Asignacion', new_asignacion_path %>
