<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre personal:</strong>
  <%= @personal.nombre_personal %>
</p>

<p>
  <strong>Apellidop personal:</strong>
  <%= @personal.apellidop_personal %>
</p>

<p>
  <strong>Apellidom personal:</strong>
  <%= @personal.apellidom_personal %>
</p>

<p>
  <strong>Rut personal:</strong>
  <%= @personal.rut_personal %>
</p>

<p>
  <strong>Afp personal:</strong>
  <%= @personal.afp_personal %>
</p>

<p>
  <strong>Sistema salud:</strong>
  <%= @personal.sistema_salud %>
</p>

<p>
  <strong>Personal activo:</strong>
  <%= @personal.personal_activo %>
</p>

<p>
  <strong>Fecha contratacion:</strong>
  <%= @personal.fecha_contratacion %>
</p>

<p>
  <strong>Tipo contrato:</strong>
  <%= @personal.tipo_contrato %>
</p>

<p>
  <strong>Tipo pago:</strong>
  <%= @personal.tipo_pago %>
</p>

<p>
  <strong>Num cuenta:</strong>
  <%= @personal.num_cuenta %>
</p>

<p>
  <strong>Categorium:</strong>
  <%= @personal.categorium %>
</p>

<p>
  <strong>Centrocosto:</strong>
  <%= @personal.centrocosto %>
</p>

<%= link_to 'Edit', edit_personal_path(@personal) %> |
<%= link_to 'Back', personals_path %>
