<p id="notice"><%= notice %></p>

<h1>Listing Haberes</h1>

<table>
  <thead>
    <tr>
      <th>Categoria</th>
      <th>Subcategoria</th>
      <th>Sueldo base</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @haberes.each do |habere| %>
      <tr>
        <td><%= habere.subcategorium.categorium.categoria%></td>
        <td><%= habere.subcategorium.subcategoria %></td>
        <td><%= habere.sueldo_base %></td>
        <td><%= link_to 'Show', habere %></td>
        <td><%= link_to 'Edit', edit_habere_path(habere) %></td>
        <td><%= link_to 'Destroy', habere, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Habere', new_habere_path %>
