<p id="notice"><%= notice %></p>

<p>
  <strong>Sueldo base:</strong>
  <%= @habere.sueldo_base %>
</p>

<p>
  <strong>Subcategorium:</strong>
  <%= @habere.subcategorium %>
</p>

<%= link_to 'Edit', edit_habere_path(@habere) %> |
<%= link_to 'Back', haberes_path %>
